# Python
__pycache__/
*.egg-info/
*.py[cod]

# uv and packaging
.venv/
/build/
/dist/

# Node
/node_modules/

# Development tools
.cache/
.coverage*
.pytest_cache/
.ruff_cache/
/htmlcov/
/site/
coverage.xml

# Build artifacts
/bdbox/server/static/app.css
/bdbox/server/static/app.js
